:root {
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

html {
    padding: 0;
    margin: 0;
}

body {

    background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
    background-position: left top, right bottom;
    background-repeat: no-repeat;

    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;

    display: flex;
    place-items: center;
    align-content: center;
    place-content: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 74%;
    margin-bottom: 3.5rem;
}

.header {
    width: 40%;
}

.header h1 {
    width: 70%;
    margin-top: 0;
    color: var(--very-dark-magenta)
}

.header p {
    color: var(--dark-grayish-magenta)
}

.star ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.star ul li {
    display: flex;
    background-color: var(--light-grayish-magenta);
    padding: 0.85rem 2rem 0.85rem 1.4rem;
    margin-bottom: 0.8rem;
    border-radius: 0.3rem;

    color: var(--very-dark-magenta);
    font-weight: bold;
    font-size: 0.9rem;
}

ul li span {
    background-image: url('./images/icon-star.svg');
    background-repeat: repeat-x;
    width: 5.3rem;
    margin-right: 1rem;
}

.star ul li:nth-child(1) {
    margin-right: 5rem;
}

.star ul li:nth-child(2) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.star ul li:nth-child(3) {
    margin-left: 5rem;
}


/* cards section */

.cards-container {

    width: 74%;
    display: flex;
    column-gap: 1.5rem;
    height: max-content;
}

.card {
    background-color: var(--very-dark-magenta);
    border-radius: 0.5rem;
    padding: 2rem 1rem 1.5rem 1.5rem;
}

.card p {
    color: var(--light-grayish-magenta);
}

.card span {
    color: var(--soft-pink);
    font-size: 0.7rem;
}

.card-header {
    display: flex;
    margin-bottom: 1.4rem;
    justify-content: baseline;
}

.card-header img {
    border-radius: 50%;
    width: 2rem;
    height: auto;
    padding: 0;
    margin: 0;
    margin-right: 1.4rem;
}

.card-header p {
    color: var(--white);
    font-weight: bold;
}


.colton {
    margin-bottom: 1.5rem;
}

.irene {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.anne {
    margin-top: 1.5rem;
}



p {
    margin: 0;
    font-size: 13px;
}


.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 800px) {

    body {
        height: auto;
        flex-direction: column;
    }

    .header h1 {
        width: 100%;
        text-align: center;
    }

    .header p {
        margin-bottom: 1rem;
        text-align: center;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .header {
        width: 74%;
        margin-top: 2rem;
    }

    .star {
        width: 74%;
    }
    .star ul li {
        flex-direction: column;
        align-items: center;
    }

    .star ul li span {
        width: 5.3rem;
        height: 2rem;
    }

    .star ul li:nth-child(1) {
        margin-right: 0;
    }

    .star ul li:nth-child(2) {
        margin-right: 0;
        margin-left: 0;
    }

    .star ul li:nth-child(3) {
        margin-left: 0;
    }

    .cards-container {
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    .attribution {
        position: relative;
        margin: 1rem;
        bottom: 10px;
    }
}